body
  margin: 0
  padding: 0
  // background: url(../img/dust_scratches.png)
  background: #cccccc

button, input[type="submit"]
  font-weight: 500
  min-height: 36px
  padding: 9px 20p
  background: #1380f6
  color: #fff
  box-shadow: 0 3px 6px rgba(0,0,0,.2)
  border-radius: 100px
  cursor: pointer
  outline: none
  font-size: 14px
  min-width: 150px
  border: none
  &:hover
    background: #439dff
.label-text
    display: inline-block
    padding: 10px
    padding-top: 30px
    border-radius: 10px
    position: relative

.input-text
  font-size: 15px
  background: none
  border: none
  padding-bottom: 4px
  outline: none
  width: 100%
  box-sizing: border-box
  box-shadow: 0px 1px 0px #D9D9D9
  &:focus
    box-shadow: 0px 2px 0px #1380F6 !important
    + .span-input-text
      top: 9px
      font-size: 13px
      opacity: 0.5
  &:not(:placeholder-shown) 
    // border-bottom: 1px solid #D3D4D5
    box-shadow: 0px 1px 0px #D3D4D5
    + .span-input-text
      top: 9px
      font-size: 13px
      opacity: 0.5

.input-text
  // border-bottom: 1px solid #D3D4D5 
  box-shadow: 0px 1px 0px #D3D4D5

.span-input-text
  font-size: 15px
  font-weight: 400
  position: absolute
  top: 33px
  left: 10px
  transition: all .2s
.select2
  width: 300px
  display: inline-block
  font-size: 15px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  .list
    width: 100%
    max-width: 720px
    padding: 20px
    .item
      width: 100%
      margin-top: 20px
      padding: 10px
      box-sizing: border-box
      background: #fff
      padding: 17px 10px
      border-radius: 8px
      box-shadow: 0 1px 2px rgba(0,0,0,.12)
      h4
        margin: 0
      ul
        margin: 0
        padding: 0
        li
          display: block
          list-style: none
          padding: 10px 0
    form
      margin-top: 20px
      background: url(../img/dust_scratches.png)
      border-radius: 10px
      padding: 10px
      display: flex
      flex-direction: column
      justify-content: stretch
      input, textarea, select
        width: 100%
        padding: 10px
        box-sizing: border-box
        font-size: 15px
      button
        height: 25px

